DB_URI= # Connection url to database
SECRET_JWT=

SMTP_HOST=
SMTP_PORT=
SMTP_LOGIN=
SMTP_PASSWORD=

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

UPLOAD_TO_CLOUDINARY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
